<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <style>

        table.login-btn td {
            background: #e74c3c;
            border-color: #c0392b;
        }

        table.login-btn:hover td {
            background: #c0392b !important;
        }

        .callout .wrapper {
            padding-bottom: 20px;
        }

        .callout .panel {
            background: #ECF8FF;
            border-color: #b9e5ff;
        }

        .header {
            background: #999999;
        }

        .footer .wrapper {
            background: #ebebeb;
        }

        .footer h5 {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>

                    <table class="row header">
                        <tr>
                            <td class="center" align="center">
                                <center>

                                    <table class="container">
                                        <tr>
                                            <td class="wrapper last">

                                                <table class="twelve columns">
                                                    <tr>
                                                        <td class="six sub-columns">
                                                            <img style="max-height: 50px;" src="https://tpdigital.blob.core.windows.net/logo/logo.JPG">
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </center>
                            </td>
                        </tr>
                    </table>

                    <table class="container">
                        <tr>
                            <td>

                                <table class="row">
                                    <tr>
                                        <td class="wrapper last">

                                            <table class="twelve columns">
                                                <tr>
                                                    <td>
                                                        <h1></h1>
                                                        <p class="lead">We have received your application.</p>
                                                        <p>We will get back to you in 5 - 7 business days with any updates.</p>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                                <table class="row footer">
                                    <tr>
                                        <td class="wrapper">

                                            <table class="six columns">
                                                <tr>
                                                    <td class="left-text-pad">

                                                        <h5></h5>

                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>

                                        </td>
                                        <td class="wrapper last">

                                            <table class="six columns">
                                                <tr>
                                                    <td class="last right-text-pad">
                                                        <h5></h5>
                                                        <p>
                                                            Tempo Digital
                                                            <br />Kaveldunsvägen 21
                                                            <br />GÄVLE
                                                            <br />Phone: +46 761847677
                                                            <br />Email: <a href="mailto:support@tempodigital.org">support@tempodigital.org</a>
                                                        </p>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                                <!-- container end below -->
                            </td>
                        </tr>
                    </table>

                </center>
            </td>
        </tr>
    </table>
</body>
</html>