@{
    ViewBag.Title = "Music Distribution Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .table-wrapper-scroll-y {
            display:block;
        } 
        
        .my-custom-scrollbar {
            position:relative;
            height:100%;
            overflow:auto;
        }

        .loadernew {
            border: 8px solid #f3f3f3;
            border-radius: 50%;
            border-top: 8px solid #3498db;
            width: 100px;
            height: 100px;

            margin: auto;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>

    <script>
        var user_share = @Html.Raw(Json.Encode(ViewBag.Share));

        function getStoreData(event) {

            event.preventDefault();
            $("#views").html("---");
            $("#revenue").html("---");
            $("#share").html("---");
            $("#data_details tbody").empty();
            $(".progress_status").empty();
            $(".progress_status").append(`<div class="loadernew"></div>`);

            if ($('#store').val() != "" && $('#years').val() != "" && $('#months').val() != "") {
                $.getJSON("/YoutubeAnalytics/GetStoreData?store=" + $('#store').val() + "&year=" + $('#years').val() + "&month=" + $('#months').val(), function (data) {
                    if (data) {
                        $(".progress_status").empty();

                        load_stores_data($('#store').val(), data)

                        if (data.list.length == 0) {
                            $(".progress_status").empty();
                            $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                        }
                    }
                    else {
                        $("#views").html("---");
                        $("#revenue").html("---");
                        $("#share").html("---");
                        $("#data_details tbody").empty();
                        $(".progress_status").empty();
                        $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                    }
                });
            }
        }

        function load_stores_data(store, data) {


            if (store == "Spotify") {
                $("#data_details tbody").empty();
                $.each(data.list, function (i, item) {
                    if (i < 30) {
                        $("#data_details tbody").append(
                            `
                                <tr>
                                    <td>${item.Composer_Name}</td>
                                    <td>${item.TrackName}</td>
                                    <td>${item.Country}</td>
                                    <td>${item.Artist_Name}</td>
                                    <td>${item.Quantity}</td>
                                    <td>${item.USD_Payable}</td>
                                </tr>
                            `
                        );
                    }
                });

                $("#views").html(data.views);
                var share = (data.revenue / 100) * parseFloat(user_share);
                $("#revenue").html("$" + Math.round(data.revenue * 100) / 100);
                $("#share").html("$" + Math.round(share * 100) / 100);
            }

            if (store == "Deezer") {
                
                $("#data_details tbody").empty();
                $.each(data.list, function (i, item) {
                    if (i < 30) {
                        $("#data_details tbody").append(
                            `
                                         <tr>
                                            <td>${item.Service}</td>
                                            <td>${item.Title}</td>
                                            <td>${item.Country}</td>
                                            <td>${item.Artist}</td>
                                            <td>${item.Nb_of_plays}</td>
                                            <td>${item.Royalties}</td>
                                        </tr>
                                    `
                        );
                    }
                });

                $("#views").html(data.views);
                var share = (data.revenue / 100) * parseFloat(user_share);
                $("#revenue").html("$" + Math.round(data.revenue * 100) / 100);
                $("#share").html("$" + Math.round(share * 100) / 100);
            }

            if (store == "GooglePlay") {
                
                $("#data_details tbody").empty();
                $.each(data.list, function (i, item) {
                    if (i < 30) {
                        $("#data_details tbody").append(
                            `
                                         <tr>
                                            <td>${item.Interaction_Type}</td>
                                            <td>${item.Product_Title}</td>
                                            <td>${item.Consumer_Country}</td>
                                            <td>${item.Artist}</td>
                                            <td>${item.Total_Plays}</td>
                                            <td>${item.Partner_Revenue_Paid}</td>
                                        </tr>
                                    `
                        );
                    }
                });

                $("#views").html(data.views);
                var share = (data.revenue / 100) * parseFloat(user_share);
                $("#revenue").html("$" + Math.round(data.revenue * 100) / 100);
                $("#share").html("$" + Math.round(share * 100) / 100);
            }

            if (store == "SoundCloud") {
                $("#data_details tbody").empty();
                $.each(data.list, function (i, item) {
                    if (i < 30) {
                        $("#data_details tbody").append(
                            `
                                         <tr>
                                            <td>${item.Usage_Type}</td>
                                            <td>${item.Track_Name}</td>
                                            <td>${item.Territory}</td>
                                            <td>${item.Artist_Name}</td>
                                            <td>${item.Total_Plays}</td>
                                            <td>${item.Total_Revenue}</td>
                                        </tr>
                                    `
                        );
                    }
                });

                $("#views").html(data.views);
                var share = (data.revenue / 100) * parseFloat(user_share);
                $("#revenue").html("$" + Math.round(data.revenue * 100) / 100);
                $("#share").html("$" + Math.round(share * 100) / 100);
            }

            if (store == "AppleMusic" || store == "Napster"
                || store == "Tidal" || store == "Pandora") {
                
                $("#data_details tbody").empty();
                $.each(data.list, function (i, item) {
                    
                    if (i < 30) {
                        $("#data_details tbody").append(
                            `
                                         <tr>
                                            <td>${item.Configuration}</td>
                                            <td>${item.Track_Title}</td>
                                            <td>${item.Territory}</td>
                                            <td>${item.Track_Artist}</td>
                                            <td>${item.Units}</td>
                                            <td>${item.Net_Amount}</td>
                                        </tr>
                                    `
                        );
                    }
                });

                $("#views").html(data.views);
                var share = (data.revenue / 100) * parseFloat(user_share);
                $("#revenue").html("$" + Math.round(data.revenue * 100) / 100);
                $("#share").html("$" + Math.round(share * 100) / 100);
            }

        }

        function getStoreDataYearly(event) {

            event.preventDefault();
            $("#views").html("---");
            $("#revenue").html("---");
            $("#share").html("---");
            $("#data_details tbody").empty();
            $(".progress_status").empty();
            $(".progress_status").append(`<div class="loadernew"></div>`);
            
            if ($('#storeNameYear').val() != "" && $('#yearsYearly').val() != "") {
                $("#storeImageYearly").append(`<div class="loadernew"></div>`);
                $.getJSON("/YoutubeAnalytics/GetStoreDataYearly?store=" + $('#storeNameYear').val() + "&year=" + $('#yearsYearly').val(), function (data) {          
                    if (data) {
                        $(".progress_status").empty();

                        load_stores_data($('#storeNameYear').val(), data)

                        if (data.list.length == 0) {
                            $(".progress_status").empty();
                            $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                        }
                    }
                    else {
                        $("#views").html("---");
                        $("#revenue").html("---");
                        $("#share").html("---");
                        $("#data_details tbody").empty();
                        $(".progress_status").empty();
                        $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                    }
                });
            }
        }

        function getStoreDataLabel(event) {

            event.preventDefault();
            $("#views").html("---");
            $("#revenue").html("---");
            $("#share").html("---");
            $("#data_details tbody").empty();
            $(".progress_status").empty();
            $(".progress_status").append(`<div class="loadernew"></div>`);

            if ($('#storeLab').val() != "" && $('#yearsLabel').val() != "" && $('#monthsLabel').val() != "" && $('#Label').val() != "") {
                //alert($('#yearsLabel').val())
                $("#storeImageLabel").append(`<div class="loadernew"></div>`);
                $.getJSON("/YoutubeAnalytics/GetStoreDataLabel?store=" + $('#storeLab').val() + "&year=" + $('#yearsLabel').val() + "&month=" + $('#monthsLabel').val() + "&label=" + $('#Label').val(), function (data) {
                    
                    if (data) {
                        $(".progress_status").empty();

                        load_stores_data($('#storeLab').val(), data)

                        if (data.list.length == 0) {
                            $(".progress_status").empty();
                            $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                        }
                    }
                    else {
                        $("#views").html("---");
                        $("#revenue").html("---");
                        $("#share").html("---");
                        $("#data_details tbody").empty();
                        $(".progress_status").empty();
                        $(".progress_status").append(`<label style="margin:auto;">No Recored Found</label>`);
                    }
                });
            }
        }

    </script>
</head>
<body class="vertical-layout vertical-menu 2-columns  navbar-sticky" data-menu="vertical-menu" data-col="2-columns">
    <div class="wrapper">
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="row match-height">
                        <div class="col-xl-4 col-lg-12">
                            <div class="card">
                                <div class="card-content">
                                    
                                    <div class="card-body" style="padding:10px">
                                        <p>Analytics by Month</p>
                                        <form onsubmit="getStoreData(event)">
                                            <select id="store" style="margin-bottom:10px" required class="form-control">
                                                <option selected value="">--Select Store--</option>
                                                <option value="Spotify">Spotify</option>
                                                <option value="Deezer">Deezer</option>
                                                <option value="AppleMusic">Apple Music</option>
                                                <option value="Napster">Napster</option>
                                                <option value="Tidal">Tidal</option>
                                                <option value="Pandora">Pandora</option>
                                                <option value="GooglePlay">Google Play</option>
                                                <option value="SoundCloud">SoundCloud</option>
                                                @*<option value="TikTok">TikTok</option>
                    <option value="Facebook">Facebook</option>
                    <option value="YouTubeMusic">YouTube Music</option>
                    <option value="7Digital">7Digital</option>*@
                                            </select>
                                            <select id="years" style="margin-bottom:10px" required class="form-control">
                                                <option selected value="">-Select Year-</option>
                                                <option value="2021">2021</option>
                                            </select>
                                            <select id="months" style="margin-bottom:10px" required class="form-control">
                                                <option selected value="">-Select Month-</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7" disabled>7</option>
                                                <option value="8" disabled>8</option>
                                                <option value="9" disabled>9</option>
                                                <option value="10" disabled>10</option>
                                                <option value="11" disabled>11</option>
                                                <option value="12" disabled>12</option>
                                            </select>
                                            <button style="width:100%;" type="submit" class="btn btn-danger">Get data</button>
                                        </form>
                                    </div>
                                    <div class="card-body" style="padding:10px">
                                        <p>Analytics by Year</p>
                                        <form onsubmit="getStoreDataYearly(event)">
                                            <select id="storeNameYear" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">--Select Store--</option>
                                                <option value="Spotify">Spotify</option>
                                                <option value="Deezer">Deezer</option>
                                                <option value="AppleMusic">Apple Music</option>
                                                <option value="Napster">Napster</option>
                                                <option value="Tidal">Tidal</option>
                                                <option value="Pandora">Pandora</option>
                                                <option value="GooglePlay">Google Play</option>
                                                <option value="SoundCloud">SoundCloud</option>
                                                @*<option value="TikTok">TikTok</option>
                    <option value="Facebook">Facebook</option>
                    <option value="YouTubeMusic">YouTube Music</option>
                    <option value="7Digital">7Digital</option>*@
                                            </select>
                                            <select id="yearsYearly" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">-Select Year-</option>
                                                <option value="2021">2021</option>
                                            </select>
                                            <button style="width:100%;" type="submit" class="btn btn-danger">Get data</button>
                                        </form>
                                    </div>
                                    <div class="card-body" style="padding:10px">
                                        <p>Analytics by Recording Label</p>
                                        <form onsubmit="getStoreDataLabel(event)">
                                            <select id="Label" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">--Select Label--</option>
                                                @foreach (var x in ViewBag.Labels)
                                                {
                                                    <option value="@x">@x</option>
                                                }
                                            </select>
                                            <select id="storeLab" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">--Select Store--</option>
                                                <option value="Spotify">Spotify</option>
                                                <option value="Deezer">Deezer</option>
                                                <option value="AppleMusic">Apple Music</option>
                                                <option value="Napster">Napster</option>
                                                <option value="Tidal">Tidal</option>
                                                <option value="Pandora">Pandora</option>
                                                <option value="GooglePlay">Google Play</option>
                                                <option value="SoundCloud">SoundCloud</option>
                                                @*<option value="TikTok">TikTok</option>
                    <option value="Facebook">Facebook</option>
                    <option value="YouTubeMusic">YouTube Music</option>
                    <option value="7Digital">7Digital</option>*@
                                            </select>
                                            <select id="yearsLabel" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">-Select Year-</option>
                                                <option value="2021">2021</option>
                                            </select>
                                            <select id="monthsLabel" required style="margin-bottom:10px" class="form-control ">
                                                <option selected value="">-Select Month-</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7" disabled>7</option>
                                                <option value="8" disabled>8</option>
                                                <option value="9" disabled>9</option>
                                                <option value="10" disabled>10</option>
                                                <option value="11" disabled>11</option>
                                                <option value="12" disabled>12</option>
                                            </select>
                                            <button style="width:100%;" type="submit" class="btn btn-danger">Get data</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-8 col-lg-12">
                            <div class="card" style="padding:10px;">
                                <div class="card-content">
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="col-xl-4 col-lg-12">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-12">
                                                    <h4>Views:</h4>
                                                </div>
                                                <div class="col-xl-6 col-lg-12">
                                                    <label id="views">---</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-12">
                                                    <h4>Revenue:</h4>
                                                </div>
                                                <div class="col-xl-6 col-lg-12">
                                                    <label id="revenue">---</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-12">
                                                    <h4>Share:</h4>
                                                </div>
                                                <div class="col-xl-6 col-lg-12">
                                                    <label id="share">---</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <div class="card-body">
                                        <table class="table table-hover" style="" id="data_details">
                                            <thead>
                                                <tr>
                                                    <th>Release Name</th>
                                                    <th>Track Name</th>
                                                    <th>Coutry</th>
                                                    <th>Artist</th>
                                                    <th>Views</th>
                                                    <th>Revenue</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="row progress_status">
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Cards with DSP icons *@
                    <div class="row match-height">
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Spotify_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/spotify.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Deezer_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/deezer.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Apple_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/apple.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Napster_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/napster.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Tidal_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/tidal.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Pandora_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/pandora.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row match-height">
                        @*<div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/GoogleMusic_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/google-play-music.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>*@
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/SoundCloud_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/soundcloud.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        @*<div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/TikTok_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/tiktok.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>*@
                        @*<div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/Facebook_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/facebook.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>*@
                        @*<div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/YouTubeMusic_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/yt-music.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-12">
                            <div class="card">
                                <a href="~/Home/SevenDigital_Page">
                                    <div class="card-content">
                                        <img src="https://tpdigital.blob.core.windows.net/logo/Icons/7digital.png" alt="" width="100%" style="padding:5px">
                                    </div>
                                </a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>
