@{
    ViewBag.Title = "Privacy Policy";
}
<h2>@ViewBag.Title.</h2>

<h1>Privacy Policy</h1>

<h3>EFFECTIVE AS OF NOVEMBER 14TH, 2018</h3>

<p>
    Your privacy is important to us. None of us at Tempo Digital AB would want our own personal information used in ways we do not agree to or know about.
    Please take a moment to read our Privacy Policy below to make sure you understand and agree with it.

</p>

<h3>WHY DOES TEMPO DIGITAL AB COLLECT PERSONAL INFORMATION?</h3>
<p>
    We need your personal information (i.e., information by which you are individually identifiable) in order to provide you our services, pay you, get your music to our partners, answer questions you may have, keep track of all the things happening with your account, provide customer support, collect fees, provide new opportunities, contact you in case of incomplete information, and deliver new products, updates and a high quality customer experience.
</p>


<h3>WHAT INFORMATION DOES TEMPO DIGITAL AB COLLECT?</h3>
<p>To offer you our services and products, Tempo Digital AB will need basic personal information from you that might consist of all or part of the following: the name of the account holder; physical address; email address; phone numbers; credit/charge card information to collect from you various fees and charges for services and/or products; bank account and/or PayPal account information for deposits of money owed to you from the sale of your music; and your social security number and/or tax identification number for tax purposes if you sign up for Tempo Digital AB’s Publishing Administration. In addition, we might ask for personal information that will help remind you of your Tempo Digital AB account user name and/or password in the event you forget or lose such information.</p>

<p>
    Tempo Digital AB may also set up a system that allows you to purchase and/or send gift certificates or links to albums, songs or other Tempo Digital AB products or services to other Tempo Digital AB users, family members, friends or colleagues. To fulfill your request, Tempo Digital AB may require personal information about the person to whom you are sending the product or service. The personal information you provide about that person is used only for the purpose for which it is collected.
</p>

<p>If you use our Tempo Digital AB Social service to connect to third party services, including “Social Media Platforms” such as Twitter, Facebook, SoundCloud, Instagram and MixCloud, we will also archive certain information unique to you and your Tempo Digital AB activities, including but not limited to: user generated content (such as messages, posts, comments, pages, profiles, images, feeds or communications exchanged on the Social Media Platforms), additional customer profile information (such as age, gender, employer, profession, geographic location, education information, financial status, habits and preferences); and information relating to your real time location.</p>

<p>
    Tempo Digital AB may also collect non-personal information from you, including the names of your songs and albums and the associated artists; the year that your recordings were made/released; and the name(s) of the person or entity that owns and controls the rights to the songs, albums and/or artwork that you deliver to Tempo Digital AB. Such information may, without limitation, be used to keep track of how certain albums and/or songs are selling for ranking charts. Please note that by using the Tempo Digital AB service, you agree that Tempo Digital AB shall have the right to provide information relative to the sales of your recordings to third parties, to aggregate such information in charts and other comparative informational materials, and to disseminate the same in any manner. From time to time Tempo Digital AB might also present you with a voluntary survey or questionnaire about our current or possible future services or products that solicits non-personal information from you.
</p>

<p>Please note that some of your information may remain in our records even in the event that your account is closed.</p>

<h3>
    DOES TEMPO DIGITAL AB DISCLOSE YOUR PERSONAL INFORMATION TO ANYONE?
</h3>

<p>We take your privacy very seriously. In order to serve you it is possible that people working for Tempo Digital AB might view your personal information to make sure we are providing you with the best service possible, but such access will be on a need-to-know basis only and they will be required to keep your personal information confidential and use it only as provided by the Tempo Digital AB privacy policy.</p>

<p>
    It is also possible that with improvements to existing services or with the addition of new services it may be to your advantage for Tempo Digital AB to make specific personal information about you available to companies that Tempo Digital AB has a strategic relationship with or that perform work for Tempo Digital AB so that they can provide products and services to you on our behalf. These companies may help us process information, extend credit, fulfill customer orders, deliver products to you, manage and enhance customer data, provide customer service, assess your interest in our products and services or conduct customer research or satisfaction surveys. We will provide these companies with only the personal information that they require to perform the task for which they have been hired to do. These companies must also protect your personal information in accordance with Tempo Digital AB’s privacy policy. Without such information being made available, it would be difficult for you to sell your music, upload your songs, upload your album artwork, purchase products and services, have products delivered to you, receive customer service, provide us feedback to improve our products and services, or access certain services, offers and content on the Tempo Digital AB website.
</p>

<p>
    Your personal information may also be disclosed to law enforcement officials or third parties if Tempo Digital AB is required to do so by law. Furthermore, in the event that Tempo Digital AB receives notification that any content you have posted online using the Tempo Digital AB service infringes on the rights of a third party, Tempo Digital AB may, in its good faith discretion, disclose your contact information to such third party.
</p>

<h3>HOW DOES TEMPO DIGITAL AB PROTECT YOUR PERSONAL INFORMATION?</h3>

<p>Tempo Digital AB will take appropriate administrative, technical, and physical measures to safeguard your personal information against loss, theft or misuse, as well as unauthorized access, disclosure, alteration or destruction.</p>

<p>Although there will always be people attempting to steal information, we follow the industry accepted security standards designed to safeguard and prevent unauthorized access to, disclosure of and use of your personal information. We use Secure Sockets Layer (“SSL”) encryption for credit card and other bank transactions. Due to this level of security, you must use an SSL-enabled browser such as Safari, Netscape Navigator 3.0 (or a later version), or Internet Explorer. Doing so protects the confidentiality of your personal information while in transit over the Internet. Tempo Digital AB has used and will continue to use commercially reasonable efforts to ensure the protection of your personal information.</p>

<p>
    In addition, Tempo Digital AB will restrict employee access to databases containing personal information and impose confidentiality requirements upon employees who need to know such information. Furthermore, any Tempo Digital AB employee with partial or total access to personal information must abide by the terms of this privacy policy.
</p>

<p>Finally, you will be given complete discretion to create a user name and password that only you know. To further protect your information, you should consider changing your password often and only using a browser that supports SSL encryption.</p>

<h3>
    ACCURACY OF YOUR PERSONAL INFORMATION:
</h3>

<p>Tempo Digital AB works hard to keep your personal information safe, accurate, complete and as current as possible. You can help us to keep your personal information accurate by updating such information whenever appropriate.</p>

<h3>
    INTERNET PROTOCOL (“IP”) ADDRESSES, COOKIES AND OTHER VARIABLES:
</h3>

<p>
    As is the case with many websites, the Tempo Digital AB website logs your IP address and uses standard technology called cookies, which are small data files that are downloaded onto your computer when you visit the Tempo Digital AB website. Cookies automatically identify your browser to the Tempo Digital AB website server whenever you interact with the Tempo Digital AB website. We use cookies and the information they provide to improve our services and the quality of your experience while visiting the Tempo Digital AB website.
</p>

<p>
    You can set your browser to notify you when a cookie is enabled, allowing you the opportunity to reject or disable the cookie; however, it is possible that some portion or functions of the Tempo Digital AB website or its participating partners’ websites may not work as well or at all if you disable your cookies.
</p>

<p>
    We may use third party service providers for the limited purpose to help us analyze certain online activities. For example, these service providers may help us measure the performance of our online campaigns or analyze visitor activity on the Tempo Digital AB website. We may permit these service providers to use cookies and other technologies to perform these services for Tempo Digital AB.
</p>

<p>
    Many websites gather certain non-personal information automatically and store it in log files, including things like your IP addresses, browser type, Internet service provider, referring/exit pages, operating system, date/time stamp, and clickstream data. None of this information identifies you directly. Tempo Digital AB may also enable this technology for use in ways that are commonly accepted by industry practice.
</p>

<h3>
    MESSAGE BOARDS, CHAT ROOMS AND INSTANT MESSAGING:
</h3>

<p>
    In the event that Tempo Digital AB launches community-based services such as message boards, blogs, instant messaging and other similar services, you should be aware that any information you share is visible to other users. Please note that information that you submit to one of these forums can be read, collected or used by other individuals to send you unsolicited messages. Tempo Digital AB is not responsible for the personally identifiable information you choose to submit in these forums – you are solely responsible for any content that you post there, including, but not limited to, any personal information that you choose to reveal in these public forums. In using any of these services, you agree that you will not use them for any purpose that is unlawful or in violation of Tempo Digital AB’s Terms and Conditions. Please note that Tempo Digital AB may, in its sole discretion, monitor postings in these forums to assure that users are complying with the Tempo Digital AB Terms and Conditions.
</p>

<h3>
    LINKS TO OTHER WEBSITES:
</h3>

<p>
    It is possible that at some time Tempo Digital AB might link to other websites. If we do, and you choose to go to these other websites, please be aware that such websites may not be affiliated with Tempo Digital AB and are not subject to Tempo Digital AB’s Privacy Policy. We encourage you to carefully review such other websites’ respective privacy policies and ask questions directly of them in this regard.
</p>

<h3>
    CHANGES TO TEMPO DIGITAL AB PRIVACY POLICY:
</h3>

<p>
    As Tempo Digital AB grows, changes, and expands to suit your needs, we may need to modify, alter or otherwise update this privacy policy. When we make changes to this Privacy Policy we will notify you here, so we encourage you to review this Privacy Policy from time to time. We may also attempt to notify you of any such changes to our Privacy Policy via email or by placing a notice on our home page, but are not required to do so.
</p>

<h3>
    ACCEPTANCE OF TEMPO DIGITAL AB PRIVACY POLICY:
</h3>

<p>
    By using the Tempo Digital AB website, you consent to the collection, use and disclosure of your personal information by Tempo Digital AB in accordance with this Privacy Policy.
</p>

<h3>
    QUESTIONS ABOUT TEMPO DIGITAL AB PRIVACY POLICY:
</h3>

<p>
    If you have any questions, concerns or thoughts about the privacy of your personal information while using the Tempo Digital AB website or this Privacy Policy, please feel free to contact us at our Contact Page.
</p>


















